<% content_for :title, "#{@list.name} - Rankings" %>
<% content_for :banner do %>
  <div class="ptl pbs c-6 text-center">
    <div class="fsxl fwl">
      <%= @list.name %>
    </div>
  </div>
<% end %>
<%= form_tag v0_list_url(@list, host: api_domain, subdomain: api_subdomain), remote: true, method: :get, class: "js-lists-api-form js-list-form" do %>
<% end %>
<!-- Modal -->
<div class="row nmhxs">
  <div class="col-md-3 phxs mtm">
    <div class="paxs bg-15 fss bss bwas bc-13">
      <div>
        <%= @list.name %>
      </div>
      <div class="mtxs">
        <i class="fa fa-twitter fa-fw pointer"></i>
        <i class="fa fa-facebook fa-fw pointer"></i>
      </div>
    </div>
    <div class="paxs mtxs bg-15 fsxs bss bwas bc-13">
      <%= pluralize(@list.contributors_count, "Contributor") %>
    </div>
    <div class="paxs mtxs bg-15 fsxs bss bwas bc-13">
      <%= pluralize(@list.products_count, "Product") %>
    </div>
    <div class="paxs mtxs bg-15 fsxs bss bwas bc-13">
      <%= list_price_range(@list) %>
    </div>
    <% if current_user %>
      <%= link_to "#" do %>
        <div class="lists-add-product mtxs">
          <div class="paxs bg-blue c-15 fsxs text-center" data-toggle="modal" data-target="#addProductModal">
            add product
          </div>
        </div>
      <% end %>
      <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bran">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addProductModalLabel">Search Products</h4>
            </div>
            <div class="modal-body">
              <%= form_tag v0_products_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-products-form-new" do %>
                <%= hidden_field_tag :type, "AmazonProduct" %>
                <%= hidden_field_tag :sku, nil, class: "js-lists-api-submit-on-change" %>
                <%= hidden_field_tag :id, nil %>
              <% end %>
              <%= form_tag add_product_v0_list_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-lists-form-add-product" do %>
                <%= hidden_field_tag :id, @list.id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= hidden_field_tag :product_id, nil, data: { dependent: true, dependent_on_form: ".js-products-form-new", dependent_on_input: "id" } %>
              <% end %>
              <%= form_tag search_v0_stores_url(host: api_domain, subdomain: api_subdomain), method: :get, remote: true, class: "js-lists-api-form js-lists-form-search js-lists-form-products-search", data: { results: ".js-lists-products-search-results" } do %>
                <%= hidden_field_tag :store, "Amazon" %>
                <%= hidden_field_tag :page, 1 %>
                <%= text_field_tag :q, nil, class: "paxxxs bg-15 bss bwas bc-13 full-width js-lists-form-search-q" %>
              <% end %>
              <div class="js-lists-products-search-results"></div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="lists-add-product mtxs">
          <div class="paxs bg-blue c-15 fsxs text-center" data-toggle="modal" data-target="#addProductModal">
            add product
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9 phxs">
    <div class="js-list-items">
      <% @list.items.each do |item| %>
        <div class="container-sm-height pvxs mtm bg-15 bss bwas bc-13 js-list-item" data-id="<%= item.id %>">
          <div class="row row-sm-height mhn nmtxs">
            <div class="list-rank col-sm-2 col-sm-height phxs mtxs text-center">
              <div class="fsxl">
                #<span class="js-list-item-rank"><%= item.display_rank %></span>
              </div>
              <div class="c-10 fsxxxs hidden-xs">
                <span class="fsxs js-likes-count" data-like-word="point" data-likable="ListItem-<%= item.id %>"><%= item.likes_count %></span> <span class="js-likes-word" data-likable="ListItem-<%= item.id %>"><%= "point".pluralize(item.likes_count) %></span>
              </div>
            </div>
            <div class="col-sm-2 col-sm-height col-sm-height-top phxs mtxs bss bwls bc-13">
              <%= link_to product_path(item.product) do %>
                <%= image_tag item.product.image.url(:profile), class: "full-width" %>
              <% end %>
            </div>
            <div class="col-sm-6 col-sm-height col-sm-height-top phxs mtxs">
              <div class="fsxs fwl">
                <%= link_to item.product.name.html_safe, product_path(item.product) %>
              </div>
              <div class="fws">
                <%= item.product.manufacturer %>
              </div>
              <div class="fsxxxs fws c-blue">
                [ <%= item.user.username %> ]
              </div>
            </div>
            <div class="col-sm-2 col-sm-height col-sm-height-top phxs">
              <div class="row nmhxxxs">
                <div class="col-xs-6 col-sm-12 phxxxs mtxs">
                  <%= link_to item.product.url do %>
                    <div class="phxxs pvxxxs bg-blue c-15 fsxxxs text-center">
                      <table class="mha">
                        <tr>
                          <td>
                            <%= number_to_currency item.product.price, precision: 0 %>
                          </td>
                          <td class="visible-xs">
                            &nbsp;on <%= item.product.store_name %>
                          </td>
                        </tr>
                      </table>
                    </div>
                  <% end %>
                </div>
                <div class="col-xs-6 col-sm-12 phxxxs mtxs">
                  <div class="<%= "active " if current_or_guest_user.likes?(item) %>js-like">
                    <div class="hide-active">
                      <%= form_tag like_v0_user_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-likes-form-like js-list-items-like" do %>
                        <%= hidden_field_tag :likable_type, "ListItem" %>
                        <%= hidden_field_tag :likable_id, item.id %>
                        <div class="phxxs pvxxxs bg-blue c-15 fsxxxs text-center pointer js-lists-api-form-submit">
                          <table class="mha">
                            <tr>
                              <td>
                                <i class="fa fa-thumbs-up"></i>
                              </td>
                              <td class="visible-xs">
                                &nbsp;Like
                              </td>
                            </tr>
                          </table>
                        </div>
                      <% end %>
                    </div>
                    <div class="show-active">
                      <%= form_tag unlike_v0_user_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-likes-form-unlike js-list-items-like" do %>
                        <%= hidden_field_tag :likable_type, "ListItem" %>
                        <%= hidden_field_tag :likable_id, item.id %>
                        <div class="phxxs pvxxxs bg-blue c-15 fsxxxs fade-m text-center pointer js-lists-api-form-submit">
                          <table class="mha">
                            <tr>
                              <td>
                                <i class="fa fa-thumbs-down"></i>
                              </td>
                              <td class="visible-xs">
                                &nbsp;Unlike
                              </td>
                            </tr>
                          </table>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user %>
    <% end %>
  </div>
</div>
