<% content_for :title, "#{@list.name} - Rankings" %>
<% content_for :facebook_meta_tags do %>
  <meta property="og:title" content="<%= @list.name %>"/>
  <meta property="og:url" content="<%= list_url(@list) %>"/>
  <meta property="og:image" content="<%= @list.default_image %>"/>
<% end %>
<% if @list.items_ordered_by_rank.count > 2 %>
  <% content_for :banner do %>
    <div class="pvm bg-15 bss bwvs bc-13 hidden-xs">
      <div class="c-5 text-center">
        <div class="fsxl fwl">
          <%= @list.name.titlecase %>
        </div>
      </div>
      <div class="container phs mtl">
        <div class="row nmhs">
          <div class="col-sm-6 phs">
            <%= link_to "#item-#{@list.items_ordered_by_rank.first.id}" do %>
              <%= image_tag @list.default_image, class: "img-responsive mha" %>
              <div class="mha mtxs dhxxxxxl-max fsm text-center">
                <span class="c-blue fwl">#<%= @list.items_ordered_by_rank.first.rank + 1 %></span> <%= @list.items_ordered_by_rank.first.product.name.html_safe %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-6 phs">
            <% @list.items_ordered_by_rank.slice(1, 5).each do |item| %>
              <%= link_to "#item-#{item.id}" do %>
                <div class="row nmhxs mtxs">
                  <div class="col-xs-1 phxs fsl fwl">
                    <div class="dvl lhl c-blue">
                      #<%= item.rank + 1 %>
                    </div>
                  </div>
                  <div class="col-xs-11 phxs fsxs lhl truncate">
                    <%= image_tag item.product.image.url(:thumbnail), class: "dal mrxxxs" %>
                    <%= item.product.name.html_safe %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= form_tag v0_list_url(@list, host: api_domain, subdomain: api_subdomain), remote: true, method: :get, class: "js-lists-api-form js-list-form" do %>
<% end %>
<!-- Modal -->
<div class="row nmhxs">
  <div class="col-md-3 phxs mtm">
    <div class="paxs bg-15 fss bss bwas bc-13">
      <div>
        <%= @list.name %>
      </div>
      <div class="mtxs">
        <table>
          <tr>
            <td>
              <div class="fb-share-button" data-href="<%= list_url(@list) %>" data-layout="button"></div>
            </td>
            <td class="plxs">
              <a class="twitter-share-button" href="<%= list_url(@list) %>" data-text="<%= @list.name %>" data-count="none">Tweet</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="paxs mtxs bg-15 fsxs bss bwas bc-13">
      <%= pluralize(@list.products_count, "Product") %>
    </div>
    <div class="paxs mtxs bg-15 fsxs bss bwas bc-13">
      <%= list_price_range(@list) %>
    </div>
    <% if current_user %>
      <%= link_to "#" do %>
        <div class="lists-add-product mtxs">
          <div class="paxs bg-blue c-15 fsxs text-center" data-toggle="modal" data-target="#addProductModal">
            add to list
          </div>
        </div>
      <% end %>
      <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bran">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addProductModalLabel">Search Products</h4>
            </div>
            <div class="modal-body">
              <%= form_tag v0_products_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-products-form-new" do %>
                <%= hidden_field_tag :type, "AmazonProduct" %>
                <%= hidden_field_tag :sku, nil, class: "js-lists-api-submit-on-change" %>
                <%= hidden_field_tag :id, nil %>
              <% end %>
              <%= form_tag add_product_v0_list_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-lists-form-add-product" do %>
                <%= hidden_field_tag :id, @list.id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= hidden_field_tag :product_id, nil, data: { dependent: true, dependent_on_form: ".js-products-form-new", dependent_on_input: "id" } %>
              <% end %>
              <%= form_tag search_v0_stores_url(host: api_domain, subdomain: api_subdomain), method: :get, remote: true, class: "js-lists-api-form js-lists-form-search js-lists-form-products-search", data: { results: ".js-lists-products-search-results" } do %>
                <%= hidden_field_tag :store, "Amazon" %>
                <%= hidden_field_tag :page, 1 %>
                <%= text_field_tag :q, nil, class: "paxxxs bg-15 bss bwas bc-13 full-width js-lists-form-search-q" %>
              <% end %>
              <div class="js-lists-products-search-results"></div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <div class="lists-add-product mtxs">
          <div class="paxs bg-blue c-15 fsxs text-center" data-toggle="modal" data-target="#addProductModal">
            add to list
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6 phxs mtm">
    <div class="js-list-items">
      <% @list.items_ordered_by_rank.includes(:user).each do |item| %>
        <div id="item-<%= item.id %>" class="mtm-plus js-list-item" data-id="<%= item.id %>">
          <div class="paxs bg-15 bss bwas bc-13 paxxxs">
            <div class="relative">
              <%= link_to user_path(item.user) do %>
                <table>
                  <tr>
                    <td>
                      <%= image_tag item.user.profile_image, class: "dam bss bwas bc-13" %>
                    </td>
                    <td class="plxxxs">
                      <div class="c-blue">
                        <%= item.user.username %>
                      </div>
                      <div class="c-10 fsxxxs">
                        <%= item.created_at.strftime("%m/%d/%y") %>
                      </div>
                    </td>
                  </tr>
                </table>
              <% end %>
              <div class="absolute top right c-blue fsm text-right">
                <span class="fsxs fws">#</span><span class="fwl js-list-item-rank"><%= item.rank + 1 %></span>
              </div>
            </div>
            <div class="mtxs">
              <%= link_to product_path(item.product) do %>
                <%= image_tag item.product.image.url(:profile), class: "img-responsive mha" %>
              <% end %>
            </div>
            <div class="mtxs">
              <%= link_to item.product.name.html_safe, product_path(item.product) %>
            </div>
            <div class="c-10 fws">
              <%= item.product.manufacturer %>
            </div>
            <div class="mtxs">
              <%= link_to item.product.url do %>
                <div class="paxxs bg-blue c-15 fsxxs text-center">
                  Get it on <%= item.product.store_name %> (<%= number_to_currency item.product.price, precision: 0 %>)
                </div>
              <% end %>
            </div>
            <div class="mtxs ptxxxs bg-15 fsxxs">
              <table>
                <tr>
                  <td>
                    <% if current_user %>
                      <div class="<%= "active " if current_user.likes?(item) %>js-like">
                        <div class="hide-active">
                          <%= form_tag like_v0_user_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-likes-form-like js-list-items-like" do %>
                            <%= hidden_field_tag :likable_type, "ListItem" %>
                            <%= hidden_field_tag :likable_id, item.id %>
                            <span class="c-blue pointer js-lists-api-form-submit">
                              like
                            </span>
                          <% end %>
                        </div>
                        <div class="show-active">
                          <%= form_tag unlike_v0_user_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-likes-form-unlike js-list-items-like" do %>
                            <%= hidden_field_tag :likable_type, "ListItem" %>
                            <%= hidden_field_tag :likable_id, item.id %>
                            <span class="c-blue pointer js-lists-api-form-submit">
                              unlike
                            </span>
                          <% end %>
                        </div>
                      </div>
                    <% else %>
                      <%= link_to "like", new_user_registration_path, class: "c-blue" %>
                    <% end %>
                  </td>
                  <td class="plxs c-blue">
                    <i class="fa fa-thumbs-o-up"></i> <span class="fsxs js-likes-count" data-likable="ListItem-<%= item.id %>"><%= item.likes_count %></span>
                  </td>
                  <td class="plxxs c-blue">
                    <i class="fa fa-comment-o"></i> <span class="fsxs js-comments-count" data-commentable="ListItem-<%= item.id %>"><%= item.comments_count %></span>
                  </td>
                </tr>
              </table>
            </div>
            <div id="list-item-<%= item.id %>-comments" class="js-list-item-comments">
              <div class="mtxs bss bwts bc-13">
                <div class="js-list-item-comments-list">
                  <% item.comments.includes(:user).each do |comment| %>
                    <div class="ptxs-plus mtxs bss bwts-plus bc-13">
                      <div class="row nmhxxxs">
                        <div class="col-xs-2 col-sm-1 phxxxs">
                          <%= link_to user_path(comment.user) do %>
                            <div class="bss bwas bc-13">
                              <%= image_tag comment.user.profile_image, class: "img-responsive" %>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-xs-10 col-sm-11 phxxxs fsxxs c-5">
                          <div>
                            <%= link_to comment.user.username, user_path(comment.user), class: "c-blue" %> <span class="c-10 fsxxxs"><%= comment.created_at.strftime("%m/%d/%y") %></span>
                          </div>
                          <div>
                            <%= sanitize(simple_format(comment.text), tags: %w(br) ) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="mtxs">
                  <% if current_user %>
                    <div class="row nmhxxxs">
                      <div class="col-xs-2 col-sm-1 phxxxs">
                        <div class="bss bwas bc-13">
                          <%= image_tag current_user.profile_image, class: "img-responsive" %>
                        </div>
                      </div>
                      <div class="col-xs-10 col-sm-11 phxxxs fsxxs c-5">
                        <%= form_tag comment_v0_user_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-comments-form js-list-item-comments-add" do %>
                          <%= hidden_field_tag :commentable_type, "ListItem" %>
                          <%= hidden_field_tag :commentable_id, item.id %>
                          <%= text_area_tag :text, nil, placeholder: "add a comment", class: "paxxs bss bwas bc-blue full-width js-lists-api-submit-on-enter" %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <%= link_to "sign up to comment", new_user_registration_path, class: "c-blue" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 phxs mtm">
    <div class="paxxxs bg-15 bss bwas bc-13">
      <% @list.contributors.each do |contributor| %>
        <div class="mtxxxs-plus">
          <%= link_to user_path(contributor) do %>
            <div class="row nmhxxxs">
              <div class="col-xs-3 phxxxs">
                <%= image_tag contributor.profile_image, class: "img-responsive bss bwas bc-13" %>
              </div>
              <div class="col-xs-9 phxxxs">
                <div class="relative">
                  <div class="c-blue fsxxxs">
                    <%= contributor.username %>
                  </div>
                  <div class="fsxxxs">
                    <span class="phxxxs pvxxxxs bg-blue c-15 bss bwbs bc-11 braxs">
                      <span class="fsxxs">+</span> <%= @list.contributor_breakdown[contributor.id] %>
                    </span>
                  </div>
                  <% if contributor.owner_of?(@list) %>
                    <div class="absolute top right nmtxxxs">
                      <i class="fa fa-flag fsxxxs c-blue" title="list creator"></i>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @list.products_count > 0 %>
      <div class="mtxs bg-15 bss bwas bc-13">
        <% @list.categories.shuffle.first.lists.shuffle.select{|list| list.id != @list.id}.take(3).each do |list| %>
          <div class="paxs mtm-plus bss bwts-plus bc-13">
            <%= link_to list_path(list) do %>
              <div class="phl">
                <%= image_tag list.default_image, class: "img-responsive mha" %>
              </div>
              <div class="ptxs mtm c-6 fsxxxs fwl truncate bss bwts bc-13 js-list-name">
                <%= list.name %>
              </div>
              <div class="row nmhxxxs">
                <div class="col-xs-6 phxxxs c-10 fsxxxs fws">
                  <%= pluralize(list.products_count, "product") %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
