<% content_for(:tracking_pixel) do %>
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6020670451036', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020670451036&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
<% end %>
<div class="dvm hidden-xs"></div>
<div class="row nmhxs mtm">
  <div class="col-sm-6 col-md-6 col-md-offset-1 phxs mtl">
    <div class="dvxs hidden-xs"></div>
    <div class="c-blue fsl fws text-center">
      BECOME THE FIRST
    </div>
    <div class="fsxxl fwl text-center mtxs">
      100 MEMBERS
    </div>
    <div class="c-blue fsl fws text-center mtxs">
      OF THE LOOT COUNCIL
    </div>
  </div>
  <div class="col-sm-6 col-md-4 phxs mtl">
    <div class="pam bg-15 bss bwas bc-13">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row nmhxs mtxxxs">
          <div class="col-sm-4 phxs mtxxxs">
            <%= f.label :username %>
          </div>
          <div class="col-sm-8 phxs mtxxxs">
            <%= f.text_field :username, autofocus: true, class: "phxs pvxxxs bss bwas bc-4 full-width" %>
            <% if resource.errors[:username].present? %>
              <div class="mtxxxs c-1">
                <%= resource.errors[:username].join(", ").downcase %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row nmhxs mtxxxs">
          <div class="col-sm-4 phxs mtxxxs">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8 phxs mtxxxs">
            <%= f.email_field :email, class: "phxs pvxxxs bss bwas bc-4 full-width" %>
            <% if resource.errors[:email].present? %>
              <div class="mtxxxs c-1">
                <%= resource.errors[:email].join(", ").downcase %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row nmhxs mtxxxs">
          <div class="col-sm-4 phxs mtxxxs">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8 phxs mtxxxs">
            <%= f.password_field :password, autocomplete: "off", class: "phxs pvxxxs bss bwas bc-4 full-width" %>
            <% if resource.errors[:password].present? %>
              <div class="mtxxxs c-1">
                <%= resource.errors[:password].join(", ").downcase %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row nmhxs mtxxxs">
          <div class="col-sm-4 phxs mtxxxs">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-sm-8 phxs mtxxxs">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "phxs pvxxxs bss bwas bc-4 full-width" %>
            <% if resource.errors[:password_confirmation].present? %>
              <div class="mtxxxs c-1">
                <%= resource.errors[:password_confirmation].join(", ").downcase %>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit "Sign up", class: "phs pvxxxs mtxs bg-blue c-15 full-width" %>
      <% end %>
      <div class="mtxs">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
