<%= content_for :title, @user.username %>
<div class="row nmhxs">
  <div class="col-sm-3 phxs mtm">
    <table class="full-width bwas bg-15 bc-12 bss">
      <tr>
        <td class="paxs fsm">
          <%= @user.username %>
        </td> 
        <td class="pvxs fxxxsm">
        (Points: <%= @user.likes.length + @user.list_items.length %>)
        </td>
      </tr>
    </table>
    <div class="mtxs active js-tab" data-group="list-display">
      <div class="paxs bg-15 c-12 c-10-hover c-blue-active bss bwas bc-14 bc-13-hover bc-13-active pointer">
        <div class="fsxs">
          Lists recently contributed to
        </div>
      </div>
    </div>
    <div class="mtxs js-tab" data-group="list-display">
      <div class="paxs bg-15 c-12 c-10-hover c-blue-active bss bwas bc-14 bc-13-hover bc-13-active pointer">
        <div class="fsxs">
          Recent likes
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 phxs">
    <% @lists.each do |list|%>
      <div class="paxs bg-15 bss bwas bc-12 mtm">
        <div class="row nmhxs">
          <div class="col-lg-3">
            <%= link_to list_path(list) do %>
              <%= image_tag list.items.first.product.image.url(:profile), class: "full-width" %>
            <% end %>
          </div>
           <div class="col-lg-9">
            <div class="mtxxxs fwl truncate">
              <%= link_to list_path(list) do %>
                <%= list.name %>
              <% end %>
            </div>
            <div class="c-10">
              <%= pluralize(list.products_count, "Product") %>
            </div>
            <div class="c-10">
              <%= list_price_range(list) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>