<div class="row nmhxs">
  <div class="col-lg-3 phxs mtm">
    <table class="full-width bwbs bc-12 bss">
      <tr>
        <td class="fsm">
          <%= @user.username %>
        </td> 
        <td class="fxxxsm">
        (<%= @user.likes.length + @user.list_items.length %> Contributions)
        </td>
      </tr>
    </table> 
    <div class="mtxs">
      Recent likes:
    </div>
  <% @liked_items.reverse.each do |item|%>
    <div class="paxs bg-15 bss bwas bc-12 mvxxs">
      <div class="row nmhxs">
        <%= link_to product_path(item.product) do %>
          <div class="col-md-4 plxs mtxs">
            <%= image_tag item.product.image.url(:thumbnail), class: "img-responsive" %>
          </div>
          <div class="col-md-8 c-10 fsxxxs mtxs">
            <%= item.product.name %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-lg-9 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-12">
      <div class="row nmhxs">
        <div class="col-lg-3">
          Lists contributed to:
        </div>
        <div class="col-lg-6">
          <% @lists.each do |list|%>
            <div class="paxs bg-15 bss bwas bc-13">
              <%= image_tag list.items.first.product.image.url(:thumbnail), class: "img-responsive" %>
              <div class="mtxxxs fwl truncate">
                <%= list.name %>
              </div>
              <div class="c-10">
                <%= pluralize(list.products_count, "Product") %>
              </div>
              <div class="c-10">
                <%= list_price_range(list) %>
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>