<div class="row nmhxs">
  <div class="col-md-3 phxs mtm">
    <div class="mtxs-plus active js-tab" data-group="list-display">
      <div class="paxs bg-15 c-12 c-10-hover c-blue-active bss bwas bc-14 bc-13-hover bc-13-active pointer">
        <div class="fsxs">
          Most Popular
        </div>
      </div>
    </div>
    <div class="mtxs-plus js-tab" data-group="list-display">
      <div class="paxs bg-15 c-12 c-10-hover c-blue-active bss bwas bc-14 bc-13-hover bc-13-active pointer">
        <div class="fsxs">
          Highest Rated
        </div>
      </div>
    </div>
    <div class="mtxs-plus js-tab" data-group="list-display">
      <div class="paxs bg-15 c-12 c-10-hover c-blue-active bss bwas bc-14 bc-13-hover bc-13-active pointer">
        <div class="fsxs">
          Newly Added
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 phxs">
    <div class="row nmhxs">
      <% @lists.each do |list| %>
        <div class="col-sm-6 col-md-4 phxs mtm">
          <%= link_to list_path(list) do %>
            <div class="paxs bg-15 bss bwas bc-13">
              <%= image_tag list.items.first.try(:product).try(:image).try(:url, :profile) || "http://placehold.it/300x300", class: "img-responsive mha" %>
              <div class="mtxxxs fwl truncate">
                <%= list.name %>
              </div>
              <div class="c-10">
                <%= pluralize(list.products_count, "Product") %>
              </div>
              <div class="c-10">
                <%= list_price_range(list) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
