<div class="row nmhxs">
  <div class="col-md-8 col-lg-9 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-12">
      <div class="fsm">
        Top Lists
      </div>
    </div>
    <div class="row nmhxxxs">
      <% @lists.each_slice(3) do |list_row| %>
        <% list_row.each do |list| %>
          <div class="col-sm-6 col-lg-4 phxxxs mtxs">
            <%= link_to list_path(list) do %>
              <div class="paxs bg-15 bss bwas bc-12">
                <%= image_tag list.items.first.product.image.url(:profile), class: "img-responsive mha" %>
                <div class="mtxxxs fwl truncate">
                  <%= list.name %>
                </div>
                <div class="c-10">
                  <%= pluralize(list.products_count, "Product") %>
                </div>
                <div class="c-10">
                  <%= list_price_range(list) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-12">
    </div>
  </div>
</div>
