<% content_for :facebook_meta_tags do %>
  <meta property="og:title" content="Make Life More Epic"/>
  <meta property="og:url" content="http://www.popjova.com"/>
  <meta property="og:description" content="Products for gamers, suggested by gamers."/>
  <meta property="og:image" content="https://s3.amazonaws.com/popjova/assets/popjova_square.png"/>
<% end %>
<% content_for :banner do %>
  <div class="relative pvxl bg-blue c-15 text-center">
    <div class="container container-sm-height phs">
      <div class="row row-sm-height nmhxs">
        <div class="col-sm-6 col-sm-height phxs">
          <div class="container-xs-height">
            <div class="row row-xs-height nmhxs">
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "controller.png", class: "img-responsive mha" %>
              </div>
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "headset.png", class: "img-responsive mha" %>
              </div>
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "chair.png", class: "img-responsive mha" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-height phxs">
          <div class="container-xs-height">
            <div class="row row-xs-height nmhxs">
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "keyboard.png", class: "img-responsive mha" %>
              </div>
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "monitor.png", class: "img-responsive mha" %>
              </div>
              <div class="col-xs-4 col-xs-height phxs">
                <%= image_tag "mouse.png", class: "img-responsive mha" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute fill">
      <table class="full">
        <tr>
          <td>
            <div class="fsxxl fwl ff-rw">
              Make Life More Epic
            </div>
            <div class="fsm fws ff-rw">
              products for gamers, suggested by gamers
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
<div class="row nmhxs">
  <% @categories.each do |category| %>
    <div class="col-sm-<%= list_display_row_size(category.homepage_lists.count) %> phxs mtm">
      <div class="c-blue fsm fwl">
        <%= link_to category_path(category) do %>
          <%= category.name.html_safe %> <i class="fa fa-chevron-right fsxxs"></i>
        <% end %>
      </div>
      <div class="row nmhxs nmts transform-s js-lists-results">
        <% category.homepage_lists.each do |list| %>
          <div class="col-sm-<%= list_display_column_size(category.homepage_lists.count) %> phxs mtl">
            <div class="js-list">
              <%= link_to list_path(list), class: "js-list-url" do %>
                <div class="relative bg-15 bss bwas bc-13 bc-12-active">
                  <div class="paxs">
                    <%= image_tag list.default_image(category), class: "lazy img-responsive mha js-list-image" %>
                  </div>
                  <div class="absolute bottom left right phxs pvxxxs bg-2 c-15 fade-xs fade-n-active">
                    <div class="fwl truncate js-list-name">
                      <%= list.name %>
                    </div>
                    <div class="c-10 show-active js-list-products-count">
                      <%= pluralize(list.products_count, "Product") %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
