<% content_for :facebook_meta_tags do %>
  <meta property="og:title" content="Make Life More Epic"/>
  <meta property="og:url" content="http://www.popjova.com"/>
  <meta property="og:description" content="Products for gamers, suggested by gamers."/>
  <meta property="og:image" content="https://s3.amazonaws.com/popjova/assets/popjova_square.png"/>
<% end %>
<% content_for :banner do %>
  <div class="pvm bg-15 bss bwvs bc-13">
    <div class="c-5 text-center">
      <div class="fsxl fwl ff-rw">
        Make Life More Epic
      </div>
    </div>
    <div class="container phs mtm">
      <div class="row nmhs">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 phs">
          <div class="container-xs-height">
            <div class="row row-xs-height nmhxs">
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("controller.png") %>')"></div>
              </div>
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("headset.png") %>')"></div>
              </div>
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("chair.png") %>')"></div>
              </div>
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("keyboard.png") %>')"></div>
              </div>
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("monitor.png") %>')"></div>
              </div>
              <div class="col-xs-2 col-xs-height phxs">
                <div class="square bg-contain bg-center bg-repeat-n" style="background-image: url('<%= asset_path("mouse.png") %>')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mtl c-10 text-center">
      <div class="fss fws ff-rw">
        products for gamers, suggested by gamers
      </div>
    </div>
  </div>
<% end %>
<div class="mtm bg-15 bss bwrs bwbs bc-13">
  <div class="row mhn">
    <% @categories.each do |category| %>
      <div class="col-md-<%= list_display_row_size(category.homepage_lists.count) %> phn">
        <div class="paxs bg-15 c-blue fsm fwl bss bwls bwts bc-13">
          <%= link_to category_path(category) do %>
            <%= category.name.html_safe %> <i class="fa fa-chevron-right fsxxs"></i>
          <% end %>
        </div>
        <div class="row mhn">
          <% category.homepage_lists.each do |list| %>
            <div class="col-sm-4 phn bss bwls bwts bc-13">
              <div class="js-list">
                <%= link_to list_path(list), class: "js-list-url" do %>
                  <div class="phm pvl bg-15">
                    <div class="phxl">
                      <%= image_tag list.default_image(category), class: "lazy img-responsive mha js-list-image" %>
                    </div>
                    <div class="ptxs mtm c-6 fsxxxs fwl truncate bss bwts bc-13 js-list-name">
                      <%= list.name %>
                    </div>
                    <div class="row nmhxxxs">
                      <div class="col-xs-6 phxxxs c-10 fsxxxs fws">
                        <%= pluralize(list.products_count, "product") %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
