<% content_for :banner do %>
  <div class="ptl pbm c-6 text-center">
    <div class="fsxl fwl">
      <%= @category.name.html_safe %>
    </div>
  </div>
<% end %>
<%= form_tag v0_lists_url(host: api_domain, subdomain: api_subdomain), remote: true, method: :get, class: "js-lists-api-form js-lists-form-scope" do %>
  <%= hidden_field_tag :scope, "most_popular", class: "js-lists-api-submit-on-change" %>
  <%= hidden_field_tag :scope_params, @category.name, class: "js-lists-api-submit-on-change" %>
<% end %>
<div class="row nmhxs js-lists-results">
  <% @lists.each do |list| %>
    <div class="col-sm-3 phxs mtm js-list">
      <%= link_to list_path(list), class: "js-list-url" do %>
        <div class="relative paxs bg-15 bss bwas bc-13 bc-12-active">
          <%= image_tag list.default_image(@category), class: "lazy img-responsive mha js-list-image" %>
          <div class="absolute left right bottom phxs pvxxxs bg-2 c-15 fade-xs fade-n-active">
            <div class="fwl truncate js-list-name">
              <%= list.name %>
            </div>
            <div class="c-10 js-list-products-count">
              <%= pluralize(list.products_count, "Product") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
