<% content_for :banner do %>
  <div class="ptl pbm c-6 text-center">
    <div class="fsxl fwl">
      <%= @category.name.html_safe %>
    </div>
  </div>
<% end %>
<%= form_tag v0_lists_url(host: api_domain, subdomain: api_subdomain), remote: true, method: :get, class: "js-lists-api-form js-lists-form-scope" do %>
  <%= hidden_field_tag :scope, "most_popular", class: "js-lists-api-submit-on-change" %>
  <%= hidden_field_tag :scope_params, @category.name, class: "js-lists-api-submit-on-change" %>
<% end %>
<div class="mtl bg-15 bss bwrs bwbs bc-13 js-lists-results">
  <% @lists.each_slice(3) do |lists_row| %>
    <div class="row mhn">
      <% lists_row.each do |list| %>
        <div class="col-sm-4 phn bss bwls bwts bc-13">
          <div class="js-list">
            <%= link_to list_path(list), class: "js-list-url" do %>
              <div class="phm pvl bg-15">
                <div class="phxl">
                  <%= image_tag list.default_image(@category), class: "lazy img-responsive mha js-list-image" %>
                </div>
                <div class="ptxs mtm c-6 fsxxxs fwl truncate bss bwts bc-13 js-list-name">
                  <%= list.name %>
                </div>
                <div class="row nmhxxxs">
                  <div class="col-xs-6 phxxxs c-10 fsxxxs fws">
                    <%= pluralize(list.products_count, "product") %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
