<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{ content_for(:title).html_safe } | popjova" : "Make Life More Epic | popjova" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta property="og:site_name" content="popjova"/>
  <%= content_for(:facebook_meta_tags) %>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
</head>
<body>
  <% if lists_in_need.count > 0 %>
    <%= link_to empty_lists_path do %>
      <div class="pvxxxxs bg-blue c-15 fsxxs text-center">
        <%= pluralize(lists_in_need.count, "list") %> <%= lists_in_need.count == 1 ? "is" : "are" %> awaiting your review. Click here to lend a hand.
      </div>
    <% end %>
  <% end %>
  <div class="dvl lhl bg-15 bss bwbs bc-13">
    <div class="container phs">
      <div class="row nmhxxxs">
        <div class="col-xs-9 phxxxs">
          <table>
            <tr>
              <td>
                <div class="dvl no-overflow">
                  <%= link_to root_path do %>
                    <i class="icon-popjova lhl c-blue" style="font-size: 98px"></i>
                  <% end %>
                </div>
              </td>
              <td>
                <div class="mls das lhs bss bwas bc-14 text-center">
                  <i class="fa fa-reorder fsxs"></i>
                </div>
              </td>
              <td>
                <div class="mls das lhs bss bwas bc-14 text-center">
                  <i class="fa fa-microphone fsxs"></i>
                </div>
              </td>
              <td>
                <div class="mls das lhs bss bwas bc-14 text-center">
                  <i class="fa fa-paper-plane fsxs"></i>
                </div>
              </td>
              <td>
                <div class="mls das lhs bss bwas bc-14 text-center">
                  <i class="fa fa-refresh fsxs"></i>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-xs-3 phxxxs">
          <div class="c-3 text-right">
            <% if current_user %>
              <%= link_to "+ list", new_list_path %> | <%= link_to "logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "login", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= content_for :banner %>
  <div class="container phs pbxxxxl">
    <%= yield %>
  </div>
  <% if current_user %>
    <script>
      Lists.globals.apiToken = "<%= current_user.api_token || current_user.generate_api_token %>";
    </script>
  <% end %>
  <%= content_for :javascript %>
</body>
</html>
