<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{ content_for(:title) } | popjova" : "popjova" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
</head>
<body>
  <% if lists_in_need.count > 0 %>
    <%= link_to empty_lists_path do %>
      <div class="pvxxxxs bg-blue c-15 fsxxs text-center">
        <%= pluralize(lists_in_need.count, "list") %> <%= lists_in_need.count == 1 ? "is" : "are" %> awaiting your review. Click here to lend a hand.
      </div>
    <% end %>
  <% end %>
  <div class="dvl lhl bg-15 bss bwbs bc-13">
    <div class="container phs">
      <div class="row nmhxxxs">
        <div class="col-xs-9 phxxxs">
          <div class="c-3 fsl">
            <%= link_to root_path do %>
              <%= image_tag "popjova.png", class: "dvxs" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-3 phxxxs">
          <div class="c-3 text-right">
            <% if current_user %>
              <%= link_to "+ list", new_list_path %> | <%= link_to "logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "login", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container phs pbxxxxl">
    <%= yield %>
  </div>
  <script>
    Lists.globals.apiToken = "<%= current_or_guest_user.api_token || current_or_guest_user.generate_api_token %>";
  </script>
  <%= content_for :javascript %>
</body>
</html>
